* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #6563FF;
  }

  #header-image {
    height: 80px;
  }

  
  .game-board {
    padding: 25px;
    border-radius: 10px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }

  .cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

#missed {
margin-top: 8px;
font-size: large;
text-align: center;
background-color: #FF0000;
opacity: 0;
}

#matched {
margin-top: 8px;
font-size: large;
text-align: center;
background-color: #00FF00;
opacity: 0;
}

.cards {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}

.card .front-view img {
  width: 19px;
}

.card .back-view img {
  max-width: 45px;
}

.card .back-view {
    transform: rotateY(-180deg);
  }

  .card.flip .back-view {
    transform: rotateY(0);
  }
  .card.flip .front-view {
    transform: rotateY(180deg);
  }

  @keyframes shake {
    0%, 100%{
      transform: translateX(0);
    }
    20%{
      transform: translateX(-13px);
    }
    40%{
      transform: translateX(13px);
    }
    60%{
      transform: translateX(-8px);
    }
    80%{
      transform: translateX(8px);
    }
  }

  .card.shake{
    animation: shake 0.35s ease-in-out;
  }

   #game-over-wrapper {
    width: 400px;
    height: 180px;
    opacity: 0;
    margin: 1px solid black;
    background-image: url("../images/white.jpeg");
    background-size: 100% 100%;
    border-radius: 25px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  #play-again-button{
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: green;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 10px;
}

#play-again-button:hover {
  width: 160px;
  height: 50px;
  background-color: brown;
}
  
   #game-over {
    width: 375px;
    height: 375px; 
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #game-over h1 {
    margin-bottom: 10px;
  }
  
  #game-over h2 {
    margin: 10px 0px;
  }
  
  #game-over .player-picture {
    margin-bottom: 15px;
  }
  
  #play-again-button-container {
    height: 50px;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 700px) {
    .cards {
      height: 350px;
      width: 350px;
    }
  
    .card .front-view img {
      width: 17px;
    }
  
    .card .back-view img {
      max-width: 40px;
    }
  }
  
  @media screen and (max-width: 530px) {
    .cards {
      height: 300px;
      width: 300px;
    }
  
    .card .front-view img {
      width: 15px;
    }
  
    .card .back-view img {
      max-width: 35px;
    }
  }


  